
[neopixel vlogo]
pin: PB0
#   The pin connected to the neopixel. This parameter must be provided.
chain_count: 39
#   The number of Neopixel chips that are "daisy chained" to the
#   provided pin. The default is 1 (which indicates only a single
#   Neopixel is connected to the pin).
color_order: GRB
#   Set the pixel order required by the LED hardware. Options are GRB,
#   RGB, GRBW, or RGBW. The default is GRB.
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 1.0
initial_WHITE: 0.0

[led_effect inlogo]
autostart:              true
frame_rate:             24
leds:
    neopixel:vlogo (21-39)
layers:
    breathing  15 1 top (.5,0,0)

[led_effect outlogo]
autostart:              true
frame_rate:             24
leds:
    neopixel:vlogo (1-20)
layers:
    linearfade  3 0 top (.1,.1,.1)


[gcode_macro status_calibrating_z]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=vlogo_calibrating_z
    set_nozzle_leds_on

[gcode_macro status_printing]
gcode:
    STOP_LED_EFFECTS
    SET_LED_EFFECT EFFECT=vlogo_printing
    set_nozzle_leds_on